.cardLink{
    height: 200px;
    width: 250px;
    padding: 35px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.imageCard1{
    padding: 20px;
}
.cardLink:hover .card{
    background-color: var(--second-color);
}
.card{
    border: none;
    outline: none;
    border-radius: 50%;
    transition: .3s;
    background-color: var(--primary-color);
}
.cardLink h3{
    color: var(--color-third);
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0px;
    text-transform: uppercase;
    text-decoration: none;
}