.a-btn{
    text-decoration: none;
    padding: 10px 20px;
    background-color: var(--second-color);
    color: var(--color-white);
    cursor: pointer;
    border-radius: 20px;
    text-transform: uppercase;
    transition: .3s;
}
.a-btn:hover{
    background-color: var(--primary-color);
}