.land-page{
    background: url(../../assets/images/banner-bg.jpg);
    width: 100%;
    height: 150vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 0px 70px 70px;
    padding: 40px 60px;
}
.cot-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    top: 130px;
}
.left-part{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.left-part h4{
    color: var(--color-white);
    text-transform: uppercase;
}
.left-part h1{
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
    width: 80%;
}
.left-part p{
    color: var(--color-white);
    margin: 60px 0px;
    width: 80%;
}
.left-part .input-search{
    display: flex;
}
.left-part .input-search input{
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 20px;
    width: 400px;
    text-transform: capitalize;
}
.left-part .input-search button{
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: var(--second-color);
    padding: 15px 20px;
    color: var(--color-white);
    position: relative;
    left: -40px;
    text-transform: uppercase;
    transition: .3s;
}
.left-part .input-search button:hover{
    background-color: var(--primary-color);
}
.right-part{
    display: flex;
    flex-direction: column;
}
.right-part h4{
    color: var(--color-white);
    font-weight: bold;
    padding: 5px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 20px;
    width: 90px;
    position: relative;
    top: 60px;
    left: 200px;
}
.right-part .image{
width: 100%;
}
.right-part .image img{
    height: 380px;
    width: 300px;
    border-radius: 20px;
    object-fit: cover;
}
.right-part span{
    border-radius: 50%;
    padding: 10px;
    width: 100px;
    height: 100px;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--second-color);
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -60px;
    left: -10px;
}