.Card-TopCateg{
    width: 200px;
    background-color: var(--primary-color);
    border-radius: 25px;
    cursor: pointer;
}
.Card-TopCateg .title-categories{
    display: flex;
    justify-content: center;
    padding: 22px;
}
.Card-TopCateg .title-categories span{
    color: var(--color-white);
    font-size: 18px;
}
.Card-TopCateg .image-categories{
    width: 100%;
}
 .image-categories img{
    width: 100%;
    border-radius: 25px;
}