.Navbar{
    /* background-color: var(--primary-color); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 30px 30px;
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 15px 60px;

}
.list ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
}
.list ul li{
    margin: 5px 10px;
    
}
.list ul li a{
    padding: 10px 18px;
    color: var(--color-white);
    text-decoration: none;
    transition: .3s;
    border-radius: 15px;

}
.list ul li a:hover{
    background-color: #1f81f8;
    cursor: pointer;

}
.list ul li .primary{
    background-color: #1f81f8;
    border-radius: 15px;
}
.list ul li .sign-in{
    background-color: var(--second-color);
    border-radius: 20px;
}
.list ul li .sign-in:hover{
    background-color: var(--second-color);
}