.section{
    padding: 60px;
    width: 100;
    margin-top: -40px;
}
.section .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section .title-left-part{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.section .title-left-part h3{
    font-size: 16px;
    font-weight: bold;
    color: var(--second-color);
    text-transform: uppercase;
}
h1{
    margin: 10px 0px;
}

.section .container-cards .card-trendings{
    margin-top: 60px;
    display: flex;
    gap: 10;
    justify-content: space-between;
}