.section-footer{
    padding: 60px;
    border-radius: 120px 120px 0px 0px;
    background-image: url(../../assets/images/footer-bg.jpg);
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 160px;
}
.section-footer p , a{
    color: var(--color-white);
}
.section-footer a{
    text-decoration: none;
    transition: .3s;
}
.section-footer a:hover{
    color: #eeeeeeee;
}