.card-bg{
    width: 550px;
    border-radius: 25px;
    background-image: url(../../../assets/images/cta-bg.jpg);
    background-position: center;
    background-size: cover;
    object-fit: contain;
    height: 517px;
    padding: 30px;
}