.CardBig-section{
    width: 500px;
    border-radius: 25px;
    background-color: #f7f7f7;;
    height: 517px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 70px;
    left: 150px;
}
.CardBig-section span{
    font-size: 14px;
    font-weight: bold;
    color: var(--second-color);
    text-transform: uppercase;
}
.CardBig-section h1 span{
    color: var(--primary-color);
    font-size: 38.35px;
    margin: 0px 2px;
}
.CardBig-section p{
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;;
}
.CardBig-section .butn1{
    margin-top: 20px;
}