.CardBig-section2{
    width: 500px;
    border-radius: 25px;
    background-color: #f7f7f7;;
    height: 517px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 120px;
    left: -120px;
}
.CardBig-section2 .cot-card{
    width: 100%;
}
.CardBig-section2 span{
    font-size: 14px;
    font-weight: bold;
    color: var(--second-color);
    text-transform: uppercase;
}
.CardBig-section2 h1 span{
    color: var(--primary-color);
    font-size: 38.35px;
    margin: 0px 2px;
}
.CardBig-section2 p{
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;;
}
.CardBig-section2 .butn1{
    margin-top: 20px;
}
.CardBig-section2 .input-filed{
    display: flex;
}
.CardBig-section2 .input-filed input{
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 5px 10px;
    width: 180px;
    text-transform: capitalize;
    font-size: 14px;
    transition: .3s;
}
.CardBig-section2 .input-filed button{
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: var(--second-color);
    padding: 15px 16px;
    color: var(--color-white);
    position: relative;
    left: -40px;
    text-transform: uppercase;
    transition: .3s;
}
.CardBig-section2 .input-filed button:hover{
    background-color: var(--primary-color);
}
