.section-top-game{
    padding: 100px;
    width: 100%;
    background-color: #eeeeee;
    border-radius: 150px;
    margin-top: 40px;
}
.section-top-game .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-top-game .title-left-part{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.section-top-game .title-left-part h3{
    font-size: 16px;
    font-weight: bold;
    color: var(--second-color);
    text-transform: uppercase;
}
h1{
    margin: 10px 0px;
    font-weight: bold ;
}
.section-top-game a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: var(--second-color);
    color: var(--color-white);
    cursor: pointer;
    border-radius: 20px;
    text-transform: uppercase;
}
.section-top-game .container-cards .card-top-game{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 10;
    justify-content: space-between;
}
/* .section-top-game .container-cards{
    width: 100%;
} */