.section-TopCategories{
    padding: 60px;
    width: 100%;
    margin: 40px 0px;
}
.section-TopCategories .title-TopCategories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-TopCategories .title-TopCategories span{
    text-transform: uppercase;
    color: var(--second-color);
    font-weight: bold;
}
.section-TopCategories .title-TopCategories h1{
    margin: 20px 0px;
}
.section-TopCategories .container-TopCategories{
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 30px;
}