.card-top-game1{
    background-color: var(--color-white);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    cursor: pointer;
}
a{
    transition: .3s;
}
.card-top-game1:hover a{
    background-color: var(--primary-color);
}
.card-top-game1 .image-top-game{ 
    width: 100%;
}
.card-top-game1 .image-top-game img{
    width: 100%;
    border-radius: 25px;
}
.card-top-game1 .data-card{
    margin-top: 20px;
    padding: 10px;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
}
.card-top-game1 .data-card span{
    color: var(--color-forth);
}
.card-top-game1 .data-card h3{
transition: .3s;
} 

.card-top-game1:hover h3{
    color: var(--primary-color);
}
.card-top-game1 .data-card .btn1{
    position: relative;
    top: 15px;
}